@font-face{
font-family: 'cubic';
src: url('../../cubic html.otf') format('truetype');
}

body {
background-image: url("index-immagini/sfondo.png");
}

.homebella{
  text-decoration: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-800px, 0%);
  font-size: 24pt;
  color: white;
}

.sfondo {
  background-image: url("index-immagini/sfondo_mobile.png");
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-left: 832px;
  padding-right: 832px;
  padding-bottom: 3850px;
}

.social{
  position: absolute;
  top: 3820px;
  left: 50%;
  font-size: 25pt;
  margin-left: -650px;
  width: 100px;
  }

.insta{
  text-decoration: none;
  position: absolute;
  top: 3850px;
  left: 50%;
  font-size: 25pt;
  margin-left: -650px;
  width: 100px;
  color: black;
}

.discord{
text-decoration: none;
position: absolute;
top: 3880px;
left: 50%;
font-size: 25pt;
margin-left: -650px;
width: 100px;
color: black;
}

.help{
text-decoration: none;
position: absolute;
top: 3830px;
left: 50%;
transform: translate(50%, 0%);
font-size: 25pt;
width: 440px;
color: black;
}

.who_i_am{
position: absolute;
top: 3850px;
left: 50%;
transform: translate(-50%, 0%);
font-size: 25pt;
width: 185px;
color: black;
}


.footer {
  background-image: url("index-immagini/barra sopra.png");
  position: absolute;
  top: 3800px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-left: 832px;
  padding-right: 832px;
  padding-bottom: 120px;
}

.immagine{
position: absolute;
top: 3820px;
left: 50%;
margin-left: -800px;
}

.baseplus{
position: absolute;
top: 100px;
left: 50%;
transform: translate(-50%, 0%);
}

.immaginesopra{
  background-image: url("index-immagini/barra sopra.png");
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-left: 832px;
  padding-right: 832px;
  padding-bottom: 45px;
}

.bottone {
  background-color: #2271B3;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.tendina {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.tendina a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tendina a:hover {background-color: #f1f1f1}

.dropdown:hover .tendina {
  display: block;
}

.dropdown:hover .bottone {
  background-color: #2271B3;
}

.baseplustendina{
position: fixed;
top: 0px;
left: 50%;
margin-left: 560px;
font-size: 14pt;
}

.basebedtendina{
position: fixed;
top: 0px;
left: 50%;
margin-left: 380px;
font-size: 14pt;
height: 200px
}

.baseguitendina {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: 220px;
  font-size: 14pt;
}

.baseVStendina {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: 70px;
  font-size: 14pt;
}

.Social{
position: fixed;
top: 0px;
left: 50%;
margin-left: 700px;
font-size: 14pt;
height: 200px
}

.logo1{
  position: absolute;
  top: 1025px;
  left: 50%;
  transform: translate(-160%, 0%);
}

.basedarktext{
  position: absolute;
  top: 1050px;
  left: 50%;
  transform: translate(-15%, 0%);
  font-size: 50pt;
  color: white;
}

.imgbaseplus1{
  position: absolute;
  top: 1400px;
  left: 50%;
  margin-left: -680px;
}

.imgbaseplus2{
  position: absolute;
  top: 1400px;
  left: 50%;
  margin-left: 40px;
}

.logo2{
  position: absolute;
  top: 1925px;
  left: 50%;
  transform: translate(-160%, 0%);
}

.basetransparenttext{
  position: absolute;
  top: 1950px;
  left: 50%;
  transform: translate(-15%, 0%);
  font-size: 50pt;
  color: white;
}

.imgbaseplus3{
  position: absolute;
  top: 2300px;
  left: 50%;
  margin-left: -680px;
}

.imgbaseplus4{
  position: absolute;
  top: 2300px;
  left: 50%;
  margin-left: 40px;
}

.logo3{
  position: absolute;
  top: 2825px;
  left: 50%;
  transform: translate(-160%, 0%);
}

.basesquaredtext{
  position: absolute;
  top: 2850px;
  left: 50%;
  transform: translate(-15%, 0%);
  font-size: 50pt;
  color: white;
}

.imgbaseplus5{
  position: absolute;
  top: 3200px;
  left: 50%;
  margin-left: -680px;
}

.imgbaseplus6{
  position: absolute;
  top: 3200px;
  left: 50%;
  margin-left: 40px;
}

.scrittabella{
  position: absolute;
  top: 3650px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 30pt;
  color: white;
  width: 1180px;
}
